corejava/src/com/xml/day2/dtd/a.dtd

<!ELEMENT students (student+)>
<!ELEMENT student (name,age?,score*)>
	<!ATTLIST student id CDATA #REQUIRED>
<!ELEMENT name (#PCDATA)>
	<!ATTLIST name firstName CDATA #IMPLIED>
<!ELEMENT age (#PCDATA)>
	<!ATTLIST age xuAge CDATA #FIXED "20">
<!ELEMENT score (#PCDATA)>
	<!ATTLIST score sel (60|80|100) #REQUIRED>
